{% extends "admin/base.html" %}
{% block body %}
    <div class="content-wrapper">
        <!--内容-->
        <section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 电影管理</a></li>
                <li class="active">添加电影</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">添加电影</h3>
                        </div>
                        {% for msg in get_flashed_messages(category_filter=["success"]) %}
                        <p style="color:red">{{ msg }}</p>
                        {% endfor %}
                        <form method="post" enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>片名</label>
                                    {{ form.name }}
                                </div>
                            {% for error in form.name.errors %}
                            <div class="col-md-12" style="color:red;">{{ error }}</div>
                            {% endfor %}
                                <div class="form-group">
                                    <label>文件</label>
                                    {{ form.movie }}
                                    <div style="margin-top:5px;">
                                        <div id="moviecontainer"></div>
                                    </div>
                                </div>
                            {% for error in form.movie.errors %}
                            <div class="col-md-12" style="color:red;">{{ error }}</div>
                            {% endfor %}
                                <div class="form-group">
                                    <label>介绍</label>
                                    {{ form.content }}
                                </div>
                            {% for error in form.content.errors %}
                            <div class="col-md-12" style="color:red;">{{ error }}</div>
                            {% endfor %}
                                <div class="form-group">
                                    <label>封面</label>
                                    {{ form.logo }}
                                    <img data-src="holder.js/262x166" style="margin-top:5px;" class="img-responsive"
                                         alt="">
                                </div>
                            {% for error in form.logo.errors %}
                            <div class="col-md-12" style="color:red;">{{ error }}</div>
                            {% endfor %}
                                <div class="form-group">
                                    <label>星级</label>
                                    {{ form.star }}
                                </div>
                            {% for error in form.star.errors %}
                            <div class="col-md-12" style="color:red;">{{ error }}</div>
                            {% endfor %}
                                <div class="form-group">
                                    <label>标签</label>
                                    {{ form.tag }}
                                </div>
                            {% for error in form.tag.errors %}
                            <div class="col-md-12" style="color:red;">{{ error }}</div>
                            {% endfor %}
                                <div class="form-group">
                                    <label>地区</label>
                                    {{ form.area }}
                                </div>
                            {% for error in form.area.errors %}
                            <div class="col-md-12" style="color:red;">{{ error }}</div>
                            {% endfor %}
                                <div class="form-group">
                                    <label>片长</label>
                                    {{ form.length }}
                                </div>
                            {% for error in form.length.errors %}
                            <div class="col-md-12" style="color:red;">{{ error }}</div>
                            {% endfor %}
                                <div class="form-group">
                                    <label>上映时间</label>
                                    {{ form.release_time }}
                                </div>
                            </div>
                            {% for error in form.release_time.errors %}
                            <div class="col-md-12" style="color:red;">{{ error }}</div>
                            {% endfor %}
                            <div class="box-footer">
                                {{ form.csrf_token }}
                                {{ form.submit }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
    </div>
{% endblock %}